# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.bak
*.swp
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit config files
.streamlit/

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# Dataset files
schema_inference/dataset_example/*.pdf
schema_inference/dataset_example/*.txt
schema_inference/dataset_example/*.csv

# Cache
*.egg-info/
.eggs/
dist/
build/
